{% extends 'base.html' %}

{% block body %}

<div class="d-grid gap-2 col-10 mx-auto my-6">
    <form class="container d-grid gap-2 col-6 my-6 mx-auto" action="/searchs " method="POST">

      <input type="text" class="form-control border border-info" name="search" value="" id="search" required >
      
      <button class="btn btn-secondary d-grid gap-2 col-6 mx-auto my-3" type="submit" name="search"  >Search</button>
    
    </form>
    
<div class="d-grid gap-2 col-3 mx-auto ">
 
    <button class="btn btn-danger d-grid gap-2 col-6 mx-auto" type="submit" name="back" onclick="location.href='/test';" >Back</button>

  </div>
<div class="container my-5">
    <h3>SEARCH RESULTS</h3>  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">PARTY</th>
          <th scope="col">Sl.No.</th>
          <th scope="col">DATE</th>
          <th scope="col">TRUCK NO.</th>
          <th scope="col">C. WEIGHT</th>
          <th scope="col">R. WEIGHT</th>
          <th scope="col">SHORTAGE</th>
          <th scope="col">RATE</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">ADVANCE</th>
          <th scope="col">H.S.D. ADV.</th>
          <th scope="col">REMARKS</th>
          <th scope="col">HSD LITRE</th>
          <th scope="col">BALANCE</th>
          
        </tr>
      </thead>
      <tbody>
        {% for entries in allentries %}
        <tr>
          <td>{{entries.party}}</td>
          <th scope="row">{{loop.index}}</th>
          <td>{{entries.date_created}}</td>
          <td>{{entries.truckno}}</td>
          <td>{{entries.cweight}}</td>
          <td>{{entries.rweight}}</td>
          <td>{{entries.shortw}}</td>
          <td>{{entries.rate}}</td>
          <td>{{entries.amt}}</td>
          <td>{{entries.adv}}</td>
          <td>{{entries.hsdadv}}</td>
          <td>{{entries.remarks}}</td>
          <td>{{entries.hsdliter}}</td>
          <td>{{entries.bal}}</td>
  
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
  {% endblock body %}