{% extends 'base.html' %}

{% block body %}
<h1>UPDATE</h1>
    <form class="row g-4" action="/update/{{entries.sno}}" method="POST">

      <div class="col-md-3 mx-3">
        <label for="truckno" class="form-label me-auto my-3">Truck Number</label>
          <input type="text" class="form-control" name="truckno" id="truckno" value={{entries.truckno}} required> 
      </div>
      <div class="col-md-3">
        <label for="fromm" class="form-label me-auto my-3">From</label>
          <input type="text" class="form-control" name="fromm"id="fromm" value={{entries.fromm}} required>
      </div>
      <div class="col-md-3">
        <label for="to" class="form-label me-auto my-3">To</label>
          <input type="text" class="form-control" name="to" id="to" value={{entries.to}} required>
      </div>
      <div class="col-md-3 mx-3">
        <label for="amt" class="form-label me-auto my-3">Amount</label>
          <input type="number" class="form-control" name="amt" id="amt" value={{entries.amt}} required>
      </div>
      <div class="col-md-3">
        <label for="adv" class="form-label me-auto my-3" >Advance</label>
          <input type="number" class="form-control" name="adv" id="adv" value={{entries.adv}} required >
        
      </div>
      <div class="col-md-3">
        <label for="validationDefault05" class="form-label me-auto my-3">Weight</label>
        <input type="number" class="form-control" id="validationDefault05" value={{entries.weight}} required>
      </div>
      
      </div>
      <div class="col-12">
        <button class="btn btn-primary mx-4 my-2" type="submit">Update</button>
      </div>
    </form>
    {% endblock body %}
    